@media (max-width: 1400px) {
    .platform-platforms {
        &__container {
            grid-template-columns: 1fr;
        }

        &__item {
            gap: 40px;
            flex-direction: row;

            .btn-gold {
                margin-top: 0;
            }

            background-size: auto 60%;
        }
    }

    .about-ask {
        &__banner {
            padding: 40px 32px;

            h2 {
                margin-bottom: 0;
            }
        }

        &__btns {
            flex-direction: column;
            gap: 20px;

            .btn,
            .btn-gold {
                width: 100%;
            }
        }
    }
}