@media (max-width: 1500px) {
    .main-priority {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .contacts-form {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
        }
    }

    .footer {
        &__container {
            column-gap: 80px;
        }
    }
}