@media (max-width: 1600px) {
    .platform-advantages {
        &__container {
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }

        img {
            max-width: 100%;
        }
    }
}