@media (max-width: 500px) {
    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .btn {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .footer {
        .menu {
            grid-template-columns: 1fr;
        }
    }

    .btn {
        width: 100%;

        &-gold {
            width: 100%;
            padding: 23px;
        }
    }

    .contacts-form {
        &__submit {
            width: 100%;
        }
    }

    input {
        &[type='submit'] {
            width: 100%;
        }
    }

    .about-work {
        &__list {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        &__image {
            &-1,
            &-2 {
                height: 210px;
            }
        }

        &__box {
            grid-column: initial;
        }

        .btn-gold {
            margin-top: 0;
        }
    }

    .about-ask {
        &__btns {
            width: 100%;
        }
    }

    .terms-ideas {
        &__container {
            margin-left: -16px;
            margin-right: -16px;
            border-radius: initial;
        }
    }

    .platform-advantages {
        &__container {
            grid-template-columns: 1fr;
        }
    }
}