@media (min-width: 1200px) {
    .header {
        .menu {
            &>.menu-item {
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: calc(100% + 10px);
                    }

                    &>.sub-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &>.sub-menu {
                    &>.menu-item {
                        &>a {
                            &:hover {
                                color: var(--gold);
                            }
                        }
                    }
                }
            }
        }
    }

    .btn {
        &:hover {
            background: var(--brown);
            color: var(--white);
        }

        &-gold {
            &:hover {
                &::after {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .footer {
        .menu {
            &>.menu-item {
                &>a {
                    cursor: initial;
                }

                &>.sub-menu {
                    &>.menu-item {
                        &>a {
                            &:hover {
                                color: var(--gold);
                            }
                        }
                    }
                }
            }
        }

        &__tel {
            &:hover {
                color: var(--gold);
            }
        }

        &__mail {
            &:hover {
                color: var(--gold);
            }
        }

        &__list {
            a {
                &:hover {
                    color: var(--gold);
                }
            }
        }
    }

    .main-help {
        &__item {
            &:hover {
                h3 {
                    color: var(--brown);
                }

                p {
                    color: var(--brown);
                }

                &::before {
                    opacity: 1;
                }

                svg {
                    left: -10px;

                    path {
                        fill: var(--brown);
                    }
                }
            }
        }
    }
}