@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    --black: #111;
    --grey-cards: #2F2F2F;
    --white: #fff;
    --gold-button: linear-gradient(149.74deg, #EDAE14 18.42%, #FECB69 83.48%);
    --gold: #FECB69;
    --brown: #42391B;
    --transition: .3s ease-in-out all;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kantumruy Pro', sans-serif;
    color: var(--white);
    transition: var(--transition);

    scrollbar-width: thin;
    scrollbar-color: var(--gold) var(--black);

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--black);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--gold);
        border-radius: 5px;
        border: 3px solid var(--black);
    }
}

body {
    background: var(--black);
}

section {
    margin-top: 150px;
    margin-bottom: 150px;

    &:first-child {
        margin-top: 0;
    }
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: var(--gold) url(../images/up-btn-black.svg) center / 20px no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    gap: 20px;
    align-items: start;
    background: #333333;
    padding: 25px;
    border-radius: 5px;
    color: var(--white);

    p {
        font-size: 16px;
    }

    a {
        color: var(--white);
    }

    .btn {
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

.container {
    max-width: calc(1480px + 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    padding-top: 38px;
    left: 0;
    width: 100%;

    &.scrolled {
        padding-top: 0;
        background: var(--black);

        .btn {
            padding: 10px 30px;
        }
    }

    &__logo {
        width: 332px;
        height: 57px;
        display: block;
        background: url(../images/header-logo.svg) center / contain no-repeat;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    &__nav {
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        gap: 40px;
        align-items: center;
        list-style: none;

        &>.menu-item {
            position: relative;

            &>a {
                display: block;
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                text-decoration: none;
                white-space: nowrap;
            }

            &>.sub-menu {
                position: absolute;
                display: grid;
                gap: 10px;
                top: calc(100% + 10px);
                left: 50%;
                transform: translateX(-50%);
                padding: 10px 15px;
                border: 0.5px solid #FFFFFF26;
                background: #FFFFFF1A;
                border-radius: 10px;
                list-style: none;
                opacity: 0;
                visibility: hidden;
                backdrop-filter: blur(50px);

                &>.menu-item {
                    &>a {
                        display: block;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 140%;
                        text-decoration: none;
                        white-space: nowrap;
                        text-align: center;
                    }
                }
            }
        }

        &.header__lang {
            &>.menu-item {
                &>a {
                    padding: 10px 30px 10px 10px;
                    border: 0.5px solid #FFFFFF26;
                    background: #FFFFFF1A;
                    border-radius: 10px;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 14px;
                    height: 8px;
                    right: 10px;
                    top: 18.5px;
                    background: url(../images/arrow.svg) center / contain no-repeat;
                }
            }
        }
    }
}

.main-hero {
    background: url(../images/main-hero.avif) center / 100% no-repeat;

    .container {
        padding-top: 275px;
        padding-bottom: 187px;
        display: grid;
        justify-items: center;
    }

    h1 {
        max-width: 1027px;
    }
}

h1,
.h1 {
    margin: auto;
    font-weight: 500;
    font-size: 96px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
}

h2,
.h2 {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
    text-align: center;
}

h3,
.h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.btn {
    display: inline-block;
    padding: 24px 30px;
    color: var(--brown);
    background: var(--white);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    cursor: pointer;

    &-gold {
        position: relative;
        margin-top: 36px;
        display: inline-block;
        padding: 23px 88px 23px 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        border-radius: 50px;
        background: var(--gold-button);
        text-decoration: none;
        color: var(--brown);
        border: none;
        text-align: center;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            height: calc(100% - 4px - 4px);
            inset: 4px 4px 4px auto;
            aspect-ratio: 1/1;
            background: var(--gold-button);
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            height: calc(100% - 4px - 4px);
            inset: 4px 4px 4px auto;
            aspect-ratio: 1/1;
            background: url(../images/arrow-2.svg) center / 18px 18px no-repeat;
            border-radius: 50%;
            transition: var(--transition);
        }
    }
}

.footer {
    position: relative;
    background: url(../images/footer-bg.avif) center bottom / cover no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(0deg, rgba(42, 123, 155, 0) 0%, rgba(17, 17, 17, 1) 100%);
    }

    .container {
        display: grid;
        gap: 43px;
        padding-top: 150px;
        padding-bottom: 85px;
    }

    &__container {
        display: grid;
        grid-template-columns: 480px 1fr;
        column-gap: 270px;
        row-gap: 40px;
    }

    &__banner {
        position: relative;
        margin-bottom: calc(150px - 43px);
        text-align: center;

        h2 {
            margin-bottom: 16px;
        }
    }

    &__logo {
        display: block;
        width: 480px;
        height: 83px;
        margin-bottom: 16px;
        background: url(../images/footer-logo.svg) center / contain no-repeat;
    }

    &__contacts {
        grid-row: 2;
    }

    &__list {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
        }
    }

    &__contacts {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: start;
    }

    &__contact {
        display: grid;
        grid-template-columns: 30px 1fr;
        gap: 20px;
        align-items: center;
        text-decoration: none;

        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
        }
    }

    &__tel {
        &::before {
            background: url(../images/footer-tel.svg) center / contain no-repeat;
        }
    }

    &__mail {
        &::before {
            background: url(../images/footer-mail.svg) center / contain no-repeat;
        }
    }

    &__address {
        &::before {
            background: url(../images/footer-address.svg) center / contain no-repeat;
        }
    }

    .menu {
        display: grid;
        gap: 23px;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;

        &>.menu-item {
            &>a {
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                text-decoration: none;
            }

            &>.sub-menu {
                margin-top: 10px;
                display: flex;
                gap: 7px;
                flex-direction: column;
                list-style: none;

                &>.menu-item {
                    &>a {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.main-trading {
    h2 {
        &+p {
            text-align: center;
        }
    }

    &__list {
        position: relative;
        margin-top: 48px;
        padding-top: 130px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 125px 184px 125px;
    }

    &__item {
        padding: 48px 24px;
        background: var(--grey-cards);
        border-radius: 10px;
    }

    &__funds {
        grid-row: 1/3;
        background: var(--grey-cards) url(../images/main-trading-funds.svg) right 10px bottom 10px / 206px 165px no-repeat;
    }

    &__spreads {
        grid-column: 1;
    }

    &__assets {
        position: relative;
        grid-column: 2;
        grid-row: 1/4;
        color: var(--brown);
        background: var(--gold-button);

        &::before {
            position: absolute;
            content: '';
            width: 100px;
            height: 100px;
            top: -80px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            background: var(--black);
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 292px;
            background: url(../images/main-trading-assets.avif) center bottom / contain no-repeat;
        }
    }

    &__support {
        grid-column: 3;
        grid-row: 1;
    }

    &__order {
        grid-row: 2/4;
        background: var(--grey-cards) url(../images/main-trading-order.svg) right 10px bottom 10px / 246px 188px no-repeat;
    }
}

.main-trust {
    margin-bottom: 0;

    h2 {
        margin-bottom: 48px;
    }

    &__swiper {
        .swiper-slide {
            min-height: 230px;
            padding: 32px 16px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            border-radius: 10px;

            &--1 {
                background: url(../images/main-trust-slide-1.avif) center / cover no-repeat;
            }

            &--2 {
                background: url(../images/main-trust-slide-2.avif) center / cover no-repeat;
            }

            &--3 {
                background: url(../images/main-trust-slide-3.avif) center / cover no-repeat;
            }

            &--4 {
                background: url(../images/main-trust-slide-4.avif) center / cover no-repeat;
            }

            &--5 {
                background: url(../images/main-trust-slide-5.avif) center / cover no-repeat;
            }
        }
    }
}






.scroll-indicator {
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.progress-ring {
    transform: rotate(-90deg);
}

.ring-bg {
    fill: none;
    stroke: #333;
}

.ring-progress {
    fill: none;
    stroke: #ffcc66;
    stroke-linecap: round;
    stroke-dasharray: 289;
    /* 2 * π * 46 ≈ 289 */
    stroke-dashoffset: 289;
    transition: stroke-dashoffset 0.2s ease-out;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffcc66;
    font-size: 28px;
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1700';
@import '../scss/1600';
@import '../scss/1500';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';