@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    --black: #111;
    --grey-cards: #2F2F2F;
    --white: #fff;
    --gold-button: linear-gradient(149.74deg, #EDAE14 18.42%, #FECB69 83.48%);
    --gold: #FECB69;
    --brown: #42391B;
    --transition: .3s ease-in-out all;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kantumruy Pro', sans-serif;
    color: var(--white);
    transition: var(--transition);

    scrollbar-width: thin;
    scrollbar-color: var(--gold) var(--black);

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--black);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--gold);
        border-radius: 5px;
        border: 3px solid var(--black);
    }
}

html,
body {
    min-width: 390px;
    overflow-x: auto;
}

html {
    &.active {
        overflow: hidden;
        height: 100%;
        touch-action: none;
    }
}

body {
    background: var(--black);
}

main {
    &>section {
        position: relative;
        z-index: 1;
        padding-top: 75px;
        padding-bottom: 75px;
        background: var(--black);

        &:first-child {
            position: fixed;
            // z-index: -1;
        }

        &:nth-child(2) {
            margin-top: 800px;
            padding-top: 150px;

            &::after {
                z-index: 2;
                position: absolute;
                content: '';
                top: -50px;
                left: 0;
                width: 100%;
                height: 50px;
                background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 1) 100%);
            }
        }
    }
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: var(--gold) url(../images/up-btn-black.svg) center / 20px no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    gap: 20px;
    align-items: start;
    background: #333333;
    padding: 25px;
    border-radius: 5px;
    color: var(--white);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);

    p {
        font-size: 16px;
    }

    a {
        color: var(--white);
    }

    .btn {
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

.container {
    position: relative;
    max-width: calc(1480px + 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    padding-top: 38px;
    left: 0;
    width: 100%;

    &.scrolled {
        padding-top: 0;
        background: var(--black);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);

        .btn {
            padding: 10px 30px;
        }
    }

    &__logo {
        width: 332px;
        height: 57px;
        display: block;
        background: url(../images/header-logo.svg) center / contain no-repeat;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    &__box {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__burger {
        display: none;
        width: 24px;
        height: 24px;
        flex: 0 0 auto;
    }

    &__nav {
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        // display: flex;
        display: none;
        gap: 40px;
        align-items: center;
        list-style: none;

        &>.menu-item {
            position: relative;

            &>a {
                display: block;
                font-weight: 500;
                font-size: clamp(16px, 1.5vw, 18px);
                line-height: 140%;
                text-decoration: none;
                white-space: nowrap;
            }

            &>.sub-menu {
                position: absolute;
                display: grid;
                gap: 10px;
                top: calc(100% + 10px);
                left: 50%;
                transform: translateX(-50%);
                padding: 10px 15px;
                border: 0.5px solid #FFFFFF26;
                background: #FFFFFF1A;
                border-radius: 10px;
                list-style: none;
                opacity: 0;
                visibility: hidden;
                backdrop-filter: blur(50px);

                &>.menu-item {
                    &>a {
                        display: block;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 140%;
                        text-decoration: none;
                        white-space: nowrap;
                        text-align: center;
                    }
                }
            }
        }

        &.header__lang {
            &>.menu-item {
                &>a {
                    padding: 10px 30px 10px 10px;
                    border: 0.5px solid #FFFFFF26;
                    background: #FFFFFF1A;
                    border-radius: 10px;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 14px;
                    height: 8px;
                    right: 10px;
                    top: 18.5px;
                    background: url(../images/arrow.svg) center / contain no-repeat;
                }
            }
        }
    }
}

.main-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: url(../images/main-hero.avif) center / cover no-repeat;
    padding: 0;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(ellipse at center, rgba(255, 180, 60, 0.35), transparent),
            linear-gradient(135deg, rgba(255, 100, 0, 0.2), rgba(255, 0, 100, 0.15));
        animation: glow 2s ease-in-out infinite alternate;
        z-index: 1;
        mix-blend-mode: screen;
    }

    .container {
        z-index: 3;
        position: relative;
        padding-top: 275px;
        padding-bottom: 187px;
        display: grid;
        justify-items: center;
    }

    h1 {
        max-width: 1027px;
    }
}

h1,
.h1 {
    margin: auto;
    font-weight: 500;
    font-size: clamp(32px, 6vw, 96px);
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
}

h2,
.h2 {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: clamp(24px, 3vw, 42px);
    line-height: 120%;
    text-align: center;
}

h3,
.h3 {
    font-weight: 500;
    font-size: clamp(18px, 1.5vw, 24px);
    line-height: 120%;
}

p {
    font-weight: 400;
    font-size: clamp(16px, 1.5vw, 18px);
    line-height: 140%;
}

.btn {
    display: inline-block;
    padding: 24px 30px;
    color: var(--brown);
    background: var(--white);
    font-weight: 500;
    font-size: clamp(16px, 1.5vw, 18px);
    line-height: 140%;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    cursor: pointer;

    &-gold {
        position: relative;
        margin-top: 36px;
        display: inline-block;
        padding: 23px 88px 23px 40px;
        font-weight: 500;
        font-size: clamp(16px, 1.5vw, 18px);
        line-height: 140%;
        border-radius: 50px;
        background: var(--gold-button);
        text-decoration: none;
        color: var(--brown);
        border: none;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        overflow: clip;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -75%;
            width: 50%;
            height: 100%;
            background: linear-gradient(120deg,
                    rgba(255, 255, 255, 0.1) 0%,
                    rgba(255, 255, 255, 0.4) 50%,
                    rgba(255, 255, 255, 0.1) 100%);
            transform: skewX(-25deg);
            animation: shine 2.5s infinite;
        }

        &__arrow {
            content: '';
            position: absolute;
            height: calc(100% - 4px - 4px);
            inset: 4px 4px 4px auto;
            aspect-ratio: 1/1;
            background: var(--gold-button);
            border-radius: 50%;
            transition: var(--transition);

            &::before {
                position: absolute;
                content: '';
                inset: 0;
                background: url(../images/arrow-2.svg) center / 18px 18px no-repeat;
                transition: var(--transition);
            }
        }
    }
}

.footer {
    z-index: 1;
    position: relative;
    background: url(../images/footer-bg.avif) center bottom / cover no-repeat;
    overflow: clip;

    &::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(0deg, rgba(42, 123, 155, 0) 0%, rgba(17, 17, 17, 1) 100%);
    }

    .container {
        z-index: 2;
        position: relative;
        display: grid;
        gap: 43px;
        padding-top: 150px;
        padding-bottom: 85px;
    }

    &__container {
        display: grid;
        grid-template-columns: 480px 1fr;
        column-gap: 270px;
        row-gap: 40px;
    }

    &__banner {
        position: relative;
        margin-bottom: calc(150px - 43px);
        text-align: center;
        background: none;

        h2 {
            margin-bottom: 16px;
        }
    }

    &__logo {
        display: block;
        width: 480px;
        height: 83px;
        margin-bottom: 16px;
        background: url(../images/footer-logo.svg) center / contain no-repeat;
    }

    &__contacts {
        grid-row: 2;
    }

    &__list {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
        }
    }

    &__contacts {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: start;
    }

    &__contact {
        display: grid;
        grid-template-columns: 30px 1fr;
        gap: 20px;
        align-items: center;
        text-decoration: none;
        font-style: initial;

        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
        }
    }

    &__tel {
        &::before {
            background: url(../images/footer-tel.svg) center / contain no-repeat;
        }
    }

    &__mail {
        &::before {
            background: url(../images/footer-mail.svg) center / contain no-repeat;
        }
    }

    &__address {
        &::before {
            background: url(../images/footer-address.svg) center / contain no-repeat;
        }
    }

    .menu {
        // display: grid;
        display: none;
        gap: 23px;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;

        &>.menu-item {
            &>a {
                font-weight: 500;
                font-size: clamp(16px, 1.5vw, 18px);
                line-height: 140%;
                text-decoration: none;
            }

            &>.sub-menu {
                margin-top: 10px;
                display: flex;
                gap: 7px;
                flex-direction: column;
                list-style: none;

                &>.menu-item {
                    &>a {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &--error {
        .container {
            min-height: 100vh;
        }

        .footer__banner {
            h2 {
                font-weight: 500;
                // font-size: 128px;
                font-size: clamp(32px, 7vw, 128px);
                line-height: 120%;
                text-transform: uppercase;
            }
        }
    }
}

.main-trading {
    h2 {
        &+p {
            text-align: center;
        }
    }

    &__list {
        position: relative;
        margin-top: 48px;
        padding-top: 130px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 125px 184px 125px;
    }

    &__item {
        padding: 48px 24px;
        background: var(--grey-cards);
        border-radius: 10px;
        overflow: clip;
    }

    &__funds {
        grid-row: 1/3;
        background: var(--grey-cards) url(../images/main-trading-funds.svg) right 10px bottom 10px / 206px 165px no-repeat;
    }

    &__spreads {
        grid-column: 1;
    }

    &__assets {
        position: relative;
        grid-column: 2;
        grid-row: 1/4;
        color: var(--brown);
        background: url(../images/main-trading-assets.avif) center bottom / 364px no-repeat;

        &::before {
            position: absolute;
            content: '';
            width: 100px;
            height: 100px;
            top: -80px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            background: var(--black);
        }

        &::after {
            z-index: -1;
            position: absolute;
            content: '';
            inset: 0;
            width: 100%;
            height: 100%;
            background: var(--gold-button);
            background-size: 200% 200%;
            animation: gradient 3s ease-in-out infinite;
        }
    }

    &__support {
        grid-column: 3;
        grid-row: 1;
    }

    &__order {
        grid-row: 2/4;
        background: var(--grey-cards) url(../images/main-trading-order.svg) right 10px bottom 10px / 246px 188px no-repeat;
    }
}

.main-trust {
    h2 {
        margin-bottom: 48px;
    }

    &__swiper {
        .swiper-slide {
            min-height: 230px;
            padding: 32px 16px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            border-radius: 10px;

            &--1 {
                background: url(../images/main-trust-slide-1.avif) center / cover no-repeat;
            }

            &--2 {
                background: url(../images/main-trust-slide-2.avif) center / cover no-repeat;
            }

            &--3 {
                background: url(../images/main-trust-slide-3.avif) center / cover no-repeat;
            }

            &--4 {
                background: url(../images/main-trust-slide-4.avif) center / cover no-repeat;
            }

            &--5 {
                background: url(../images/main-trust-slide-5.avif) center / cover no-repeat;
            }
        }
    }
}

.scroll-indicator {
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.progress-ring {
    transform: rotate(-90deg);
}

.ring-bg {
    fill: none;
    stroke: #333;
}

.ring-progress {
    fill: none;
    stroke: #ffcc66;
    stroke-linecap: round;
    stroke-dasharray: 289;
    stroke-dashoffset: 289;
    transition: stroke-dashoffset 0.2s ease-out;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffcc66;
    font-size: 28px;
}

.main-help {
    h2 {
        margin-bottom: 48px;
    }

    &__list {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 271px 271px 271px;
    }

    &__image {
        min-height: 530px;
        background: url(../images/main-help-image.avif) center / cover no-repeat;
        border-radius: 10px;
    }

    &__item {
        position: relative;
        display: flex;
        gap: 16px;
        flex-direction: column;
        padding: 32px 16px;
        background: var(--grey-cards);
        border-radius: 10px;
        overflow: clip;
        text-decoration: none;

        h3 {
            position: relative;
        }

        p {
            position: relative;
        }

        &::before {
            position: absolute;
            content: '';
            inset: 0;
            width: 100%;
            height: 100%;
            background: var(--gold-button);
            opacity: 0;
            transition: var(--transition);
        }

        &--1 {
            padding-bottom: 200px;

            svg {
                position: absolute;
                bottom: 32px;
                left: 0;
            }
        }

        &--2 {
            padding-top: 200px;
            justify-content: end;

            svg {
                position: absolute;
                top: 32px;
                left: 0;
            }
        }

        &--3 {
            padding-bottom: 200px;

            svg {
                position: absolute;
                bottom: 32px;
                left: 0;
            }
        }
    }
}

.main-choose {
    h2 {
        margin-bottom: 48px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;
        align-items: start;
        padding: 48px 24px;
        background: var(--grey-cards);
        border-radius: 10px;

        h3 {
            margin-bottom: 48px;
            color: var(--gold);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style: none;

            li {
                display: grid;
                grid-template-columns: 10px 1fr;
                gap: 10px;
                font-weight: 400;
                font-size: clamp(16px, 1.5vw, 18px);
                line-height: 140%;

                &::before {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    margin-top: 7px;
                    border-radius: 50%;
                    background: #919191;
                }
            }
        }
    }

    &__price {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: clamp(24px, 3vw, 42px);
        line-height: 120%;
    }

    &__description {
        margin-bottom: 24px;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
    }

    &__banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
        padding: 48px 24px;
        background: var(--gold-button);
        border-radius: 10px;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 40px;

        h3 {
            margin: 0 40px 0 0;
            color: var(--brown);
        }

        p {
            font-weight: 400;
            font-size: clamp(16px, 1.5vw, 18px);
            line-height: 140%;
            color: var(--brown);
        }
    }

    &__range {
        display: flex;
        flex-direction: column;
        gap: 4px;

        div {
            &:nth-child(1) {
                font-weight: 500;
                font-size: clamp(18px, 1.5vw, 24px);
                line-height: 120%;
                color: var(--brown);

                span {
                    font-weight: 500;
                    font-size: clamp(24px, 3vw, 42px);
                    line-height: 120%;
                    color: var(--brown);
                }
            }

            &:nth-child(2) {
                font-weight: 300;
                font-size: 16px;
                line-height: 140%;
                color: var(--brown);
            }
        }
    }
}

.main-priority {
    &__container {
        display: grid;
        gap: 20px;
        grid-template-columns: 730px 1fr;
    }

    &__image {
        min-height: 640px;
        background: url(../images/main-priority.avif) center / cover no-repeat;
        border-radius: 10px;
    }

    &__content {
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: space-between;
    }

    &__box {
        margin-left: 40px;

        h2 {
            text-align: left;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        padding: 24px 95px 24px 16px;
        background: var(--grey-cards);
        border-radius: 10px;

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--gold-button);
        }
    }
}

.main-banner {
    &__container {
        position: relative;
        padding: 48px 44% 91px 32px;
        background: url(../images/main-banner.avif) right 62px center / 30% no-repeat;
        border-radius: 10px;
        overflow: clip;

        &::before {
            z-index: -1;
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: var(--gold-button);


            background-size: 200% 200%;
            animation: gradient 3s ease-in-out infinite;
        }
    }

    h2 {
        color: var(--brown);
        text-align: left;

        &+p {
            color: var(--brown);
        }
    }

    .btn {
        margin-top: 36px;
    }
}

.error-title {
    width: 0;
    height: 0;
    visibility: hidden;
}

.platform-platforms {
    &__container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 48px 32px;
        border-radius: 10px;

        h2 {
            margin-bottom: 20px;
            text-align: initial;
        }

        p {
            margin-bottom: 16px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style: none;

            li {
                display: grid;
                grid-template-columns: 10px 1fr;
                gap: 10px;
                font-weight: 400;
                font-size: clamp(16px, 1.5vw, 18px);
                line-height: 140%;

                &::before {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    margin-top: 7px;
                    border-radius: 50%;
                    background: #919191;
                }
            }
        }
    }

    &__tr {
        background: var(--grey-cards) url(../images/platform-tr.avif) right bottom / 384px 336px no-repeat;
    }

    &__wt {
        background: var(--grey-cards) url(../images/platform-wt.avif) right bottom / 369px 334px no-repeat;
    }

    &__box {
        max-width: 458px;
    }
}

.contacts-form {
    &__container {
        display: grid;
        grid-template-columns: 1fr 573px;
        gap: 177px;
        padding: 48px 32px;
        background: var(--grey-cards);
        border-radius: 10px;
    }

    h2 {
        margin-bottom: 48px;
        text-align: left;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 42px;
        padding: 24px 16px;
        background: var(--black);
        border-radius: 10px;
        text-decoration: none;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__value {
        color: var(--gold)
    }

    &__address {
        grid-column: span 2;
        font-weight: 400;
        font-size: clamp(16px, 1.5vw, 18px);
        line-height: 140%;
        font-style: initial;
    }

    &__heading {
        margin-bottom: 10px;
    }

    form {

        input[type='name'],
        input[type='text'],
        input[type='email'] {
            width: 100%;
            height: 60px;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
            background: var(--black);
            resize: none;
            border: none;
            outline: none;
        }

        input[type='checkbox'] {
            width: 30px;
            height: 30px;
        }

        textarea {
            width: 100%;
            height: 115px;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
            background: var(--black);
            resize: none;
            border: none;
            outline: none;
        }

        p {
            span {
                span {
                    span {
                        label {
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            span {
                                a {
                                    color: var(--gold);
                                    text-decoration: none;
                                    border-bottom: 1px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn {
            margin-top: 36px;
            padding: 24px 80px;
        }
    }

    &__submit {
        position: relative;
        display: inline-block;

        .wpcf7-spinner {
            position: absolute !important;
            top: calc(100% - 36px) !important;
            transform: translateY(-50%) !important;
            right: 15px !important;
        }
    }
}

.wpcf7-list-item {
    margin: 0 !important;
}

.wpcf7-response-output {
    margin: 0 !important;
    margin-top: 40px !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1700';
@import '../scss/1600';
@import '../scss/1500';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';