<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1.0">

    <title>@@title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="/" class="header__logo"></a>

            <nav class="header__nav">
                <ul class="menu header__lang">
                    <li class="menu-item">
                        <a href="##">ENG</a>

                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="##">SPA</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                @@include('menu.html')
            </nav>

            <a href="##" class="btn">Log In</a>
        </div>
    </header>