<ul class="menu">
    <li class="menu-item">
        <a href="##">Company</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="about.html">About us</a></li>
            <li class="menu-item"><a href="contacts.html">Contacts</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Trading</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="terms.html">Trading terms</a></li>
            <li class="menu-item"><a href="start.html">Where to start?</a></li>
            <li class="menu-item"><a href="platform.html">Trading platform</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Markets</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="markets.html">Financial markets</a></li>
            <li class="menu-item"><a href="currencies.html">Currencies</a></li>
            <li class="menu-item"><a href="indices.html">Indices</a></li>
            <li class="menu-item"><a href="commodities.html">Commodities</a></li>
            <li class="menu-item"><a href="stocks.html">Stocks</a></li>
            <li class="menu-item"><a href="cryptocurrencies.html">Cryptocurrencies</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Analytics</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="news.html">Market news</a></li>
            <li class="menu-item"><a href="analytics.html">Market analytics</a></li>
        </ul>
    </li>
</ul>